# Dependencies
node_modules
.npm

# Next.js
.next/
out/

# Development
.env*
!.env.example
.env.local

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Testing
coverage/

# Typescript
*.tsbuildinfo

build/
.DS_Store